.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes float3
  0%
    transform: Scale(0.9)

  100%
    transform: Scale(1.1)

.banner-interno
  height: 160px
.banner-interno__fondo
  background-image: url(../assets/curso/fondo_tema.png) !important
.banner-principal .tarjeta
  background-position: inherit !important
.titulo-principal__numero
  background-color: #E9BD68 !important
.curso-main-container > .container
  overflow: clip !important
.titulo-segundo:after
  border-left-color: #E9BD68 !important
.banner-principal .tarjeta
  background-color: transparent !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #12263F !important
.banner-principal-decorativo-1
  animation: float1 2s ease-in-out infinite alternate !important
  top: 20% !important
  right: 75% !important
.banner-principal-decorativo-2
  animation: float2 3s ease-in-out infinite alternate !important
  top: 76% !important
  right: 50% !important
.banner-principal-decorativo-3
  animation: float3 3s ease-in-out infinite alternate !important
  top: 50% !important
  right: 1% !important
.titulo-principal.color-acento-contenido .titulo-principal__numero
  background-color: #E9BD68 !important
.cont_decorativo, .cont_decorativo *
  position: relative
  max-width: fit-content
.cont_decorativo:before
  content: ''
  position: absolute
  width: 94%
  right: 3%
  height: 67%
  top: 18%
  bottom: 15%
  background-color: #E9BD68
  border-radius: 50px
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263F !important
.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6
  color: #12263F !important
.banner-principal__img img
  max-width: 500px

.slyder-f__btn i
  font-size: 1.2rem
  background-color: #8804C3
  border-radius: 50px
  padding: .8rem 1rem
  box-shadow: 0px 0px 24px rgba(0, 0, 0, .3)
  color: #fff

.acordion .tarjeta
  background-color: #E3EAE2
.acordion .tarjeta.acordion__activo
  background-color: #F6E5C2
.acordion .tarjeta.acordion__activo *
  color: #12263F
.acordion__accion__btn--a
  border: 1px solid #8804C3
  background-color: #8804C3
.acordion__accion__btn--a i
  color: #fff !important

.cont_intro, .cont_intro *
  position: relative
.cont_intro:before
  position: absolute
  content: ''
  width: 115%
  height: 120%
  left: -8%
  top: -10%
  bottom: 10%
  background: url(../assets/curso/intro1.png)
  background-size: 100% 100%

.banner-interno__titulo__icono i
  color: #12263F !important

.p-relative, .p-relative *
  position: relative

.cont_tarjeta_slyderf
  background-color: #fff
  border-radius: 14px
  box-shadow: 0px 0px 25px rgba(0,0,0,.2)
.cont_tarjeta_slyderf img
  max-width: 150px
  display: inline

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  border: 2px solid #F9C047
  background-color: #F9C047

.pasos-b__header__item--active .pasos-b__header__item__dot span
  color: #fff !important

.tabs-c__content-item
  padding-top: 20px
  background: url(../assets/curso/tema1/29.png)
  background-size: 100% 100%

.tabs-c__header
  margin-bottom: 0

.tabs-c__tab--active span
  font-weight: bold

.cont_sintesis
  background: url(../assets/curso/sintesis1.png)
  background-size: 100% 100%

@media screen and (max-width: 992px)
  .banner-principal .tarjeta, .cont_intro:before,.cont_sintesis,.tabs-c__content-item
    background-size: cover !important
  .cont_decorativo:before
    height: 100%
    top: 0
    bottom: 0
    right: 6%

/**********Tema 1*********/
.cont_1_1, .cont_1_1 *
  position: relative
.cont_1_1:before
  position: absolute
  content: ''
  width: 115%
  height: 80%
  left: -8%
  top: 7%
  bottom: 13%
  background: url(../assets/curso/tema1/1.png)
  background-size: 100% 100%

.cont_1_2
  background: url(../assets/curso/tema1/4.png)
  background-size: 100% 100%
  borde-radius: 10px

.cont_1_3
  background: url(../assets/curso/tema1/7.png)
  background-size: 100% 100%

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #8804C3
  opacity: 1

.slyder-a__bullets__item
  background-color: #8804C3
  border-color: #8804C3

.slyder-a__bullets__item--active
  background-color: #CF96C2 !important
  border-color: #CF96C2 !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-image: url(../assets/curso/tema1/34.svg)

.cont_1_4, .cont_1_4 *
  position: relative
.cont_1_4:before
  position: absolute
  content: ''
  width: 115%
  height: 95%
  left: -8%
  top: 5%
  background: url(../assets/curso/tema1/12.png)
  background-size: 100% 100%


@media screen and (max-width: 992px)
  .cont_1_1:before,.cont_1_2,.cont_1_3,.cont_1_4:before
    background-size: cover !important

/********Tema 2 *********/
.cont_2_1
  background: rgb(233,189,104)
  background: linear-gradient(90deg, rgba(233,189,104,1) 53%, rgba(240,243,240,1) 53%)

.cont_2_2, .cont_2_2 *
  position: relative
.cont_2_2:before
  position: absolute
  content: ''
  width: 115%
  height: 60%
  left: -8%
  top: 5%
  background: url(../assets/curso/tema2/2.png)
  background-size: 100% 100%

.cont_2_3
  background: url(../assets/curso/tema2/4.png)
  background-size: 100% 100%
  box-shadow: 0px 0px 20px rgba(0,0,0,.2)
  border-radius: 20px

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important
  border-radius: 15px
  text-align: center
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #C8D5C6
    h5
      color: #12263F !important

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    width: 100%
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #3A4A38
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p 
        font-size: 0.85em

.tabs-a__tab
  background-color: #E9BD68

.cont_2_4, .cont_2_4 *
  position: relative
.cont_2_4:before
  position: absolute
  content: ''
  width: 115%
  height: 100%
  left: -8%
  top: 0
  background: url(../assets/curso/tema2/17.png)
  background-size: 100% 100%

.cont_2_5, .cont_2_5 *
  position: relative
.cont_2_5:before
  position: absolute
  content: ''
  width: 115%
  height: 80%
  left: -8%
  top: 10%
  bottom: 10%
  background: url(../assets/curso/tema2/27.png)
  background-size: 100% 100%

.cont_2_6
  background: url(../assets/curso/tema2/29.png)
  background-size: 100% 100%
  box-shadow: 0px 0px 20px rgba(0,0,0,.2)
  border-radius: 20px

.cont_2_7
  position: relative
.cont_2_7:before
  position: absolute
  content: ''
  width: 115%
  height: 90%
  left: -8%
  top: 10%
  background: url(../assets/curso/tema2/46.png)
  background-size: 100% 100%

.cont_flip_contenido
  background: url(../assets/curso/tema2/48.png)
  background-size: 100% 100%
  border-radius: 30px !important

.tabs-b__content-item
  background: url(../assets/curso/tema2/54.png)
  background-size: 100% 100%
.tabs-b__tab
  background-color: #C8D5C6
  border-bottom: 0px 

.tabs-b__tab--active,.tabs-b__tab--active:hover,.tabs-b__tab:hover
  background-color: #F0F3F0 !important

@media screen and (max-width: 992px)
  .cont_2_1
    background: rgb(233,189,104)
    background: linear-gradient(180deg, rgba(233,189,104,1) 53%, rgba(240,243,240,1) 53%)
  .cont_2_2:before, .cont_2_3,.cont_2_4:before,.cont_2_5:before,.cont_2_6,.cont_2_7:before,.cont_flip_contenido,.tabs-b__content-item
    background-size: cover !important